Source: wasta-gnome-focal
Section: utils
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/wasta-gnome-focal

Package: wasta-gnome-focal
Architecture: all
Depends: filemanager-actions,
 gdm3,
 gnome-screensaver,
 gnome-shell,
 gnome-shell-extension-desktop-icons,
 libglib2.0-dev-bin,
 nautilus,
 nautilus-actions,
 nautilus-image-converter,
 wasta-multidesktop-focal,
 ${misc:Depends}
Recommends: bookletimposer, wasta-vertex-ubuntu
Description: Wasta-Linux GNOME for Ubuntu 20.04 Focal
 Wasta-Linux 20.04 Focal GNOME core configuration.
